<div class="bot1_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="bot1_title">交流合作</div>
        <ul class="ul1">
          <li><a href="http://www.sanqiantech.com">三迁教育</a></li>
          <li><a href="http://www.sanqiantech.com/shizi.html">三迁师资</a></li>
          <li><a href="http://www.sanqiantech.com/gsgs.html">三迁故事</a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <div class="bot1_title">关注微信</div>
        <img src="{{url_for('static',filename='base/images/qrcode.jpg')}}" alt="" class="img-responsive" height="120px" width="120px">  
      </div>
      <div class="col-sm-4">
        <div class="bot1_title">客服热线</div>
        <div class="txt1">客服热线(每天9:00-17:00)</div>
        <div class="phone2">153 3006 5751</div>
      </div>
    </div>
  </div>
</div>

<div class="bot2_wrapper">
  <div class="container">
    <div class="left_side">
      Copyright &copy; 2014-2034, 三迁教育咨询有限公司, 京ICP备XXXXX号
    </div>
    <div class="right_side"></div>
  </div>
</div>

</div>
<script src="{{url_for('static',filename='base/js/script.js')}}"></script>
</body>
</html>
<!--底部结束-->